* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", arial;
}

/* Navigation Bar */
.navbar-fixed .nav-wrapper .container .brand-logo .nav-logo {
    font-size: 18pt;
}
/* END Navigation Bar */

/* About */
@media screen and (max-width: 768px) {
    .content-wrapper .about .container .row .col {
        text-align: center
    }

    .content-wrapper .about .container .row .col img {
        width: 100%;
    }
}
/* END About */

